#top-myDrop--i button {
  /* 스타일 속성을 여기에 추가하세요 */
  /* 예시: */
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alarmRed {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}

.alarmBackground {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.0);
}

.BellRed:first {
  padding-top: 5px;
}

.BellRed {
  display: flex;
  padding-top: 7px;
}

.alarmblack {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}

.dropItemMessage {
  padding: 3px;
  /* border: 3px solid; */
}

.dropList {
  margin: 5px;
}

.dropItemExpMessage {
  border: 3px solid rgb(255, 213, 0);
  border-radius: 10px;
  padding: 3px;
  margin: 6px;
  color: rgb(246, 169, 15);
}

.dropItemLowMessage {
  border: 3px solid rgb(80, 206, 80);
  border-radius: 10px;
  padding: 3px;
  margin: 6px;
  color: rgb(29, 179, 29);
}

.dropItemExpMessage:hover {
  border: 3px solid rgb(242, 176, 23);
  border: 3px solid rgb(246, 169, 15);
  color: rgb(245, 177, 19);
  color: rgb(248, 137, 18);
  border-radius: 10px;

  transition: border-color 0.3s ease-in-out;
}

.dropItemLowMessage:hover {
  border: 3px solid rgb(29, 179, 29);
  border: 3px solid rgb(29, 179, 29);
  color: rgb(35, 178, 35);
  color: rgb(19, 149, 38);
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

.lowProductNames {
  display: flex;
  flex-wrap: wrap;
}

.lowProductName {
  margin-right: 5px;
}