#top-myDrop--i button {
  /* 스타일 속성을 여기에 추가하세요 */
  /* 예시: */
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alarmRed {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}

.alarmblack {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}

.dropItemMessage {
  padding: 3px;
  /* border: 3px solid; */
}

.dropList {
  margin: 5px;
}

.dropItemExpMessage {
  border: 3px solid rgb(247, 222, 59);
  border-radius: 10px;
  padding: 3px;
  margin: 6px;
  color: rgb(247, 222, 59);
}

.dropItemLowMessage {
  border: 3px solid rgb(80, 206, 80);
  border-radius: 10px;
  padding: 3px;
  margin: 6px;
  color: rgb(80, 206, 80);
}