/* .table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  overflow: auto;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;

}

.table th {
  background-color: #FFFFFF;
  font-weight: bold;
  padding: 18px;
} */

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table th,
.table td {
  /* padding-left: 3px;
  padding-right: 3px; */
  border-bottom: 1px solid #e4e4e4;
}

.table th {
  background-color: #FFFFFF;
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 3px;
  padding-right: 3px;
  z-index: 10;
}

.table td {
  padding: 10.4px;
}

.table th:first-child {
  text-align: center;
}

.table td:first-child {
  text-align: center;
  border-right: 1px solid #e4e4e4;

  font-size: 10px;
  text-align: center;
  width: 160px;

}



th:not(:last-child) {
  border-right: 1px solid rgb(250, 250, 250);
}

.table tbody tr:hover {
  background-color: #f9f9fa;
  transition: 0.3s ease-in-out;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  text-align: center;
  width: 180px;
}

.table td:nth-child(2) {
  text-align: center;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  z-index: 1;
}

.table th:nth-child(3) {
  padding-left: 10px;
  /* border-right: 1px solid #e4e4e4; */
}

.table th:nth-child(3),
.table td:nth-child(3) {
  text-align: left;
  width: 380px;
  /* border-right: 1px solid #e4e4e4; */
}

.table th:nth-child(4),
.table td:nth-child(4) {
  text-align: right;
  /* border-right: 1px solid #e4e4e4; */
  width: 110px;
  padding: 9px;
}


.table th:nth-child(5),
.table td:nth-child(5) {
  text-align: right;
  /* border-right: 1px solid #e4e4e4; */
  width: 160px;
  padding: 9px;
}

.table th:nth-child(6),
.table td:nth-child(6) {
  text-align: center;
  width: 320px;
  /* background-color: tomato; */
  margin-right: 5%;
}

.table th:nth-child(7),
.table td:nth-child(7) {
  text-align: center;
  /* border-right: 1px solid #e4e4e4; */
  padding-right: 4px;

}


.table {
  width: 100%;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.table thead th,
.table tbody td {
  white-space: nowrap;
  /* 긴 텍스트가 자동으로 줄바꿈되지 않도록 설정 */
}

.exp-column {
  background-color: tomato;
}

/* .policyStatement {
  display: flex;
  align-items: center;
}

.policyStatement > div {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.policyStatement > div > p {
  margin-left: 8px;
} */

.policyStatement {
  align-items: center;
}

.policyStatement>div {
  display: flex;
  align-items: center;

}

.policyStatement>div>p {
  margin-left: 8px;
}


.redExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.yellowExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 234, 0);
}

.greenExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(44, 164, 0);
}

.blueExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}

.searchInput {
  /* border-radius: 5px; */
  padding: 8px;
  border: none;
  /* outline: none; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 30px;
}

.qBtn {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #dadbe6;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
}

.qBtn:hover {
  border: 0.5px solid rgb(202, 202, 202);
}

.schSel {
  display: flex;
}

.selectBox {
  border: 0px solid #ccc;
  border-radius: 4 4 0 0 px;
  font-size: 14px;
  color: #4f4f4f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-top: 4px solid #ccc;
}

.selectBox:focus {
  border-color: #3186fd;
  outline: none;
  box-shadow: 1px 0 5px rgba(67, 94, 193, 0.574);
}

.scrollContainer {
  overflow-x: auto;
  max-height: 490px;
  scrollbar-width: thin;
  scrollbar-color: red yellow;
}