.productWrap {
  /* box-sizing: border-box;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px; */
  /* display: flex; */
  /* align-content: center; */
  box-sizing: border-box;
  width: 100%;
  padding: 1% 25%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-right: 30px; */
  /* align-content: center; */
}

.productWrap ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.productWrap ul li {
  list-style: none;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.productWrap h2 {
  padding: 20px;
  text-align: center;

}

/* .productWrap img {
  width: 100%;
  height: auto;
  margin: 10%;
} */

/* .productWrap p{
} */

.left{
  width: 50%;
  padding-top: 30px;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.left img {
  width: 90%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.left > p{
  /* width: 400px;
  height: auto; */
  margin-left: auto;
  margin-right: auto;
}

.title{
  display: flex;
  flex-direction: column-reverse;
  padding-left: 30px;
  /* background-color: aqua; */
}

.title h6{
  color: #d3d1d1;
}


.info {
  display: flex;
}

.info div:first-child{
  width: 120px;
  padding-left: 30px;
  margin-right: 3px;
  text-align: left;
  /* background-color: aqua; */
}

.right div:last-child{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.right p {
  /* border-bottom: 2px solid #fafafa; */

}

.ProductDetail {
  padding: 0px 10px;
}

.ProductDetail h4 {
  padding-top: 20px;
  width: 100%;
  /* border-bottom: 2px solid #d7d7d7; */
  padding-top: 5px;

}

.ProductDetail p {
  padding-left: 15px;
}

.modal{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal input{
  width: 100px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
}

.modal input:focus{
  outline: none;
}

.line {
	display:flex;
	flex-basis:100%;
	align-items:center;
	color:rgba(0,0,0,0.35);
	font-size:14px;
	margin:8px 0px;
}
.line::before{
	content:"";
	flex-grow:1;
	margin:0px 16px;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}
.line::after {
	content:"";
	flex-grow:1;
	margin:0px 16px;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}