.divHeader {
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
  background-color: #2962FF;
  /* border-radius: 20px; */
  box-shadow: 2px 2px 4px rgba(8, 62, 41, 0.5);
}

.navbar-custom {
  background-color: var(--secondary-color);
}

.meCustom {
  margin-right: 3rem;
  /* 원하는 간격 값으로 조절하세요. */
}