.divHeader {
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
  background-color: #FFFFFF;
  /* border-radius: 20px; */
  box-shadow: 2px 2px 4px rgba(166, 168, 167, 0.5);
}

.navbar-custom {
  background-color: var(--secondary-color);
}

.meCustom {
  margin-right: 4rem;
  /* 원하는 간격 값으로 조절하세요. */
}

.dropdown-item.active {
  background-color: #f0f0f0; /* 원하는 배경색으로 변경 */
}
