.divHeader {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #2962ff;
  /* border-radius: 20px; */
}

.navbar-custom {
  background-color: var(--secondary-color);
}

.meCustom {
  margin-right: 3rem;
  /* 원하는 간격 값으로 조절하세요. */
}