.table {
  width: 100%;
  border-collapse: collapse;

  overflow: auto;
  font-size: 10px;
  background-color: white;
}

.table th,
.table td {
  /* padding: 8px; */
  padding: 1px;
  border-bottom: 1px solid #e4e4e4;

  /* border-radius: 10px; */
}

.table th {
  background-color: #FFFFFF;
  font-weight: bold;
  /* padding: 18px; */
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
}

.table th:first-child,
.table td:first-child {
  text-align: center;
}

/* .table th:last-child,
.table td:last-child {
  text-align: right;
} */

.table tbody tr:hover {
  background-color: #f8f7fa;
}

/* .policyStatement {
  display: flex;
  align-items: center;
}

.policyStatement > div {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.policyStatement > div > p {
  margin-left: 8px;
} */

.policyStatement {
  align-items: center;
}

.policyStatement>div {
  display: flex;
  align-items: center;

}

.policyStatement>div>p {
  margin-left: 8px;
}


.redExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.yellowExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 234, 0);
}

.greenExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(44, 164, 0);
}

.blueExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}

.searchInput {
  border-radius: 5px;
  padding: 8px;
  border: none;
  /* outline: none; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 30px;
}

.qBtn {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #dadbe6;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
}

.qBtn:hover {
  border: 0.5px solid rgb(202, 202, 202);
}

/* // */

.table-container {
  max-height: 400px;
  /* 원하는 높이 설정 */
  overflow-y: auto;
}

.table {
  width: 100%;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.table thead th,
.table tbody td {
  white-space: nowrap;
  /* 긴 텍스트가 자동으로 줄바꿈되지 않도록 설정 */
}