.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table th,
.table td {
  /* padding: 8px; */
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
  /* border-radius: 10px; */
}

.table th {
  background-color: #FFFFFF;
  font-weight: bold;
  padding: 18px;
}

.table th:first-child,
.table td:first-child {
  text-align: center;
  border-right: 1px solid #e4e4e4;
}

.table th:nth-child(2) {
  text-align: center;
}


.table td:nth-child(2) {
  text-align: left;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  text-align: center;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  text-align: center;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  text-align: center;
  width: 10%;
}

.table td:nth-child(5) input {
  width: 50%;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  padding-left: 6px;
}

.table th:nth-child(6),
.table td:nth-child(6){
  text-align: center;
  width: 10%;
}


.table td:nth-child(6) input{
  width : 50%;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  padding-left: 6px;
}

.table tbody tr:hover {
  background-color: #f8f7fa;
}

.exp-column {
  background-color: tomato;
}

/* .policyStatement {
  display: flex;
  align-items: center;
}

.policyStatement > div {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.policyStatement > div > p {
  margin-left: 8px;
} */

.policyStatement {
  align-items: center;
}

.policyStatement>div {
  display: flex;
  align-items: center;

}

.policyStatement>div>p {
  margin-left: 8px;
}

.searchInput {
  border-radius: 5px;
  padding: 8px;
  border: none;
  /* outline: none; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 30px;
}

.qBtn {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #dadbe6;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
}

.qBtn:hover {
  border: 0.5px solid rgb(202, 202, 202);
}

.roundedInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  /* padding: 10px; */
  transition: border-color 0.3s ease-in-out;
}

.roundedInput:focus {
  border-color: #3186fd;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 177, 202, 0.574);
}