.mini-board-container {
  max-height: 600px;
  /* Adjust the height to your preference */
  overflow-y: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.expTd {
  display: flex;
  align-items: center;
}

.yellowExp {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 5px;
}

.grayText {
  color: gray;
}

.schSel {
  margin-bottom: 16px;
}

.searchInput {
  width: 200px;
  margin-bottom: 100px;
}

.mini-board-container::-webkit-scrollbar {
  width: 10px;
}

.mini-board-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.mini-board-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}