.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 10px;
  background-color: white;
}

.table th,
.table td {
  /* padding: 8px; */
  padding: 1px;
  border-bottom: 1px solid #e4e4e4;
  /* border-radius: 10px; */
}

.table th {
  background-color: #FFFFFF;
  font-weight: bold;
  /* padding: 11px; */
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
}

.table th:first-child,
.table td:first-child {
  text-align: center;
}

.table th:last-child {
  text-align: left;

}



.table tbody tr:hover {
  background-color: #f8f7fa;
}

.exp-column {
  background-color: tomato;
}

.policyStatement {
  align-items: center;
}

.policyStatement>div {
  display: flex;
  align-items: center;

}

.policyStatement>div>p {
  margin-left: 8px;
}


.redExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.yellowExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 234, 0);
}

.greenExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(44, 164, 0);
}

.blueExp {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}

.searchInput {
  border-radius: 5px;
  padding: 8px;
  border: none;
  /* outline: none; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 30px;
}

.qBtn {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #dadbe6;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
}

.qBtn:hover {
  border: 0.5px solid rgb(202, 202, 202);
}

.pmBtn {
  display: flex;
}

.pmBtn>button {
  border-radius: 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  font-size: 11px;
}

.pmBtn>button>a {
  font-size: 11px;
}

/* //// */

.table-container {
  max-height: 400px;
  /* 원하는 높이 설정 */
  overflow-y: auto;
}

.table {
  width: 100%;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.table thead th,
.table tbody td {
  white-space: nowrap;
  /* 긴 텍스트가 자동으로 줄바꿈되지 않도록 설정 */
}

/* .conBtn {
  position: relative;
  z-index: -1;
} */

.roundedInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  /* padding: 10px; */
  transition: border-color 0.3s ease-in-out;
}

.roundedInput:focus {
  border-color: #3186fd;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 177, 202, 0.574);
}