.divHeader {
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
  /* background-color: #FFFFFF; */
  background-color: #262627;
  /* border-radius: 20px; */
  /* box-shadow: 2px 2px 4px rgba(166, 168, 167, 0.5); */
}

.navbar-custom {
  background-color: var(--secondary-color);
}

.meCustom {
  /* margin-right: 11rem; */
  /* 원하는 간격 값으로 조절하세요. */
  margin-right: 40%;
}

/* 첫 번째 요소에 고유한 스타일을 적용합니다. */
.meCustom:first-child {
  /* margin-left: 18px; */
  /* 원하는 간격 값으로 조절하세요. */
  margin-left: 28%;
}

.dropdown-item.active {
  background-color: #f0f0f0;
  /* 원하는 배경색으로 변경 */
}


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn_icon {
  font-family: 'Material Icons';
}

.dropbtn {
  border: 1px solid rgb(37, 37, 37);
  border-radius: 4px;
  background-color: #f5f5f5;
  font-weight: 400;
  color: rgb(37, 37, 37);
  padding: 12px;
  width: 200px;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width: 200px;
}

.dropdowncontent a {
  display: block;
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-size: 12px;
  padding: 12px 20px;
}

.dropdown-content a:hover {
  background-color: #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropItemList {
  padding: 8px;
  width: 190px;
  text-align: center;
}

.dropItemList>div {
  padding-bottom: 5px;
}

.dropItemList>div:hover {
  background-color: #f0f0f0;
}